  <div class="well">
      <%= com.body %>
      <%= link_to "Delete", blog_comment_path(@blog, com), method: :delete,
                  class: "btn btn-sm btn-danger",
                  data: {confirm: "Are you sure?"} %>
      <p>Created by <%= com.user_name %> on
                        <%= formatted_date(com.created_at) %></p>
  </div>
